In [1]:
# Importing necessary libraries for data analysis and visualization

import pandas as pd # for data manipulation and analysis
import numpy as np # For numerical operations and mathematical functions
import matplotlib.pyplot as plt # For creating static visualization
import seaborn as sns # For creating statistical graphics and enhancing plot

In [18]:
from datetime import datetime

In [2]:
# Loading dataset from csv file into a pandas dataframe
df = pd.read_csv("Daily_Global_Stock_Market_Indicators.csv")

# Checking the first five rows of the datagrame
df.head()

,Date,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30

In [3]:
# checking last 5 rows of the dataframe
df.tail(5)

,Date,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent
18265,2024-12-31,Hang Seng,Hong Kong,1718.84,2027.75,1639.67,2017.82,47658304,17.39
18266,2024-12-31,DAX,Germany,1513.68,1933.41,1485.06,1921.63,13456944,26.95
18267,2024-12-31,CAC 40,France,8944.27,9018.54,8608.51,8737.25,36520735,-2.31
18268,2024-12-31,SSE Composite,China,14674.14,15131.30,14415.31,14888.37,43850831,1.46
18269,2024-12-31,KSE 100,Pakistan,11151.86,11574.65,10995.48,11387.51,15879687,2.11

In [4]:
# Checking the column name
df.columns

Index(['Date', 'Index_Name', 'Country', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Daily_Change_Percent'],
      dtype='object')

In [5]:
# Checking the information of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  18270 non-null  object
 1   Index_Name            18270 non-null  object
 2   Country               18270 non-null  object
 3   Open                  18270 non-null  float64
 4   High                  18270 non-null  float64
 5   Low                   18270 non-null  float64
 6   Close                 18270 non-null  float64
 7   Volume                18270 non-null  int64
 8   Daily_Change_Percent  18270 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [6]:
# Checking the shape of the dataframe
df.shape

(18270, 9)

In [7]:
# statistical summary of the dataframe
df.describe()

,Open,High,Low,Close,Volume,Daily_Change_Percent
count,18270.000000,18270.000000,18270.000000,18270.000000,1.827000e+04,18270.000000
mean,20442.806842,20718.693753,20166.620486,20442.378464,2.560834e+07,0.006006
std,11257.356569,11260.177506,11258.553850,11261.448439,1.414837e+07,4.534069
min,1000.650000,1018.520000,349.960000,622.950000,1.005194e+06,-44.320000
25%,10743.355000,11011.495000,10471.052500,10736.957500,1.336530e+07,-1.250000
50%,20398.855000,20685.665000,20116.395000,20394.740000,2.573716e+07,-0.010000
75%,30208.945000,30470.575000,29938.702500,30186.750000,3.778344e+07,1.230000
max,39990.310000,40680.180000,39985.490000,40474.780000,4.999802e+07,45.690000

In [8]:
# statistical summary of categorical columns
df.describe(include='object')

              Date Index_Name Country
count        18270      18270   18270
unique        1827         10       8
top     2020-01-01    S&P 500     USA
freq            10       1827    5481

In [9]:
# Checking whether the dataframe has missing value or not
df.isnull().sum()

Date                    0
Index_Name              0
Country                 0
Open                    0
High                    0
Low                     0
Close                   0
Volume                  0
Daily_Change_Percent    0
dtype: int64

In [16]:
print("\nUnique Index Names:")
print(df['Index_Name'].unique())

Unique Index Names:
['S&P 500' 'NASDAQ Composite' 'Dow Jones' 'FTSE 100' 'Nikkei 225'
 'Hang Seng' 'DAX' 'CAC 40' 'SSE Composite' 'KSE 100']

In [17]:
print("\nUnique Countries:")
print(df['Country'].unique())

Unique Countries:
['USA' 'UK' 'Japan' 'Hong Kong' 'Germany' 'France' 'China' 'Pakistan']

In [41]:
# Converting Date to datetime
df['Date'] = pd.to_datetime(df['Date'])
print(f"\nDate Range: {df['Date'].min()} to {df['Date'].max()}")

Date Range: 2020-01-01 00:00:00 to 2024-12-31 00:00:00

In [19]:
# Analyzing Daily Performance Trends
print("\n" + "="*50)
print("1. DAILY PERFORMANCE ANALYSIS")
print("="*50)

==================================================
1. DAILY PERFORMANCE ANALYSIS
==================================================

In [22]:
# Calculating summary statistics for daily changes
daily_change_stats = df.groupby('Index_Name')['Daily_Change_Percent'].agg([
    'mean', 'median', 'std', 'min', 'max', 'count'
]).round(2)

print("\nDaily Change Statistics by Index:")
print()
print(daily_change_stats.sort_values('mean', ascending=False))

Daily Change Statistics by Index:

                  mean  median   std    min    max  count
Index_Name
KSE 100           0.21   -0.02  4.78 -44.32  45.69   1827
Hang Seng         0.09   -0.05  4.72 -30.98  39.37   1827
CAC 40            0.04   -0.00  4.37 -42.64  34.46   1827
FTSE 100          0.04    0.05  4.84 -34.19  42.85   1827
NASDAQ Composite  0.03    0.06  4.65 -42.72  45.44   1827
DAX              -0.00    0.02  4.21 -40.41  35.55   1827
S&P 500          -0.01    0.05  4.34 -42.15  35.80   1827
SSE Composite    -0.01   -0.06  4.45 -32.84  45.20   1827
Dow Jones        -0.15   -0.16  4.10 -32.22  40.31   1827
Nikkei 225       -0.19    0.00  4.81 -41.54  33.49   1827

In [ ]:
# Identifying volatile markets
print("\n" + "="*50)
print("2. MARKET VOLATILE ANALYSIS")
print("="*50)

==================================================
2. MARKET VOLATILE ANALYSIS
==================================================

In [39]:
# Calculating volatility
volatility= df.groupby(['Index_Name', 'Country'])['Daily_Change_Percent'].std().reset_index()
volatility= volatility.rename(columns={'Daily_Change_Percent': 'Volatility'})
volatility= volatility.sort_values('Volatility', ascending=False).reset_index()

print("\nTop 10 most volatile markets:")
print()
print(volatility)

Top 10 most volatile markets:

   index        Index_Name    Country  Volatility
0      3          FTSE 100         UK    4.839176
1      7        Nikkei 225      Japan    4.810453
2      5           KSE 100   Pakistan    4.779814
3      4         Hang Seng  Hong Kong    4.723224
4      6  NASDAQ Composite        USA    4.649570
5      9     SSE Composite      China    4.448867
6      0            CAC 40     France    4.367589
7      8           S&P 500        USA    4.339732
8      1               DAX    Germany    4.207168
9      2         Dow Jones        USA    4.102105